<ion-view view-title="My Dash">
  <ion-content>
    
	<ion-refresher
    	pulling-text="Pull to refresh the dashboard"
    	spinner="lines"
    	on-refresh="doRefresh()">
  	</ion-refresher>
	  
	<div class="list card" >

		<div class="item item-avatar">
			<!-- Demo using data loaded by our controller -->
			<h2>{{weather.location}} Forecast</h2>
			<p>{{weather.currentWeather.utcForecastTime}}</p>
		</div>
		
		<div class="item item-body">
			<img class="" src="img/delorean.jpg">
			<p>
				Probably have some sotck weather symbol, and then our weather informatin
				I will load the weather in correctly once I have flights linked and working :)
			</p>
		</div>
		
		<div class="item tabs tabs-secondary tabs-icon-left">
			<!-- These can be little clickable Icons which change the content in the panel
				above. That way we dont need a seperate view. The icon Would be a styled 
				version ofthe day part of the date like 27th 28th
				for each of the forecast days that we have -->
			<a class="tab-item" href="#">
				<i class="icon ion-thumbsup"></i>
				Like
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-chatbox"></i>
				Comment
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-share"></i>
				Share
			</a>
		</div>

	</div>
    
	<div class="card">
  		<div class="item item-text-wrap">
    		This is a basic Card which contains an item that has wrapping text.
  		</div>
	</div>
	
	<div class="card">
  		<div class="item item-text-wrap">
    		This is a basic Card which contains an item that has wrapping text.
  		</div>
	</div>
	
	<div class="card">
  		<div class="item item-text-wrap">
    		This is a basic Card which contains an item that has wrapping text.
  		</div>
	</div>
	
	<div class="card">
  		<div class="item item-text-wrap">
    		This is a basic Card which contains an item that has wrapping text.
  		</div>
	</div>
	
	<div class="card">
  		<div class="item item-text-wrap">
    		This is a basic Card which contains an item that has wrapping text.
  		</div>
	</div>
	
	<div class="card">
  		<div class="item item-text-wrap">
    		This is a basic Card which contains an item that has wrapping text.
  		</div>
	</div>
	
  </ion-content>
</ion-view>