<ion-view view-title="My Dash">
  <ion-content>
    
	<ion-refresher
    	pulling-text="Pull to refresh the dashboard"
    	spinner="lines"
    	on-refresh="doRefresh()">
  	</ion-refresher>
	  
	  <h1>Flight ID: {{flight.id}}</h1>
	  <h1>Flight Code: {{flight.flightCode}}</h1>
	  
	<!-- Weather Card  -->  
	<div class="list card" >
		<div class="item item-avatar">
			<!-- Demo using data loaded by our controller -->
			<img class="" src="img/weather/weather-large.png">
			<h2>{{flight.destination}} Weather Conditions. </h2>
			<p>for?Time : {{currentWeatherView.utcForecastTime}}</p>
		</div>
		<!-- TODO: Change to use a placeholder variable
			That will allow us to update the information in place  -->
		<div class="item item-body">
			<img class="" src="{{currentWeatherView.icon}}">
			<h2>!Float to left of Icon! {{currentWeatherView.mainText}}</h2>
			<p>
				description: 		String:		Short sentance description
				minTempurature: 	int:		Kelvin min temp
				maxTempurature: 	int:		Kelvin max temp
				tempurature: 		int:		Kelvin avg temp
				Ill leave these for you Al!
			</p>
		</div>
		
		I'll leave you to pretty this up. But all the logic is there for 
		inline updating :)'
		
		<div class="item tabs tabs-secondary tabs-icon-left"> 
			<!-- These can be little clickable Icons which change the content in the panel
				above. That way we dont need a seperate view. The icon Would be a styled 
				version ofthe day part of the date like 27th 28th
				for each of the forecast days that we have -->
			<div  class="item tabs tabs-secondary tabs-icon-left" ng-repeat="forecast in weather.fiveDayForecast">
				<a class="tab-item" href="#" ng-click='updateWeatherView("{{forecast.utcForecastTime}}")'>
					<i class="icon ion-sun"/> 
					{{forecast.displayDay}}th <!-- handle rd st -->
				</a>
			</div>
		</div>
	</div>
	<!-- End weather card -->
    
	<!-- Checklist Card -->
	<div class="list card" >
		<div class="item item-avatar">
			<!-- Demo using data loaded by our controller -->
			<img class="" src="img/blue_tick.jpg">
			<h2>My {{flight.flightCode}} Checklist</h2>
			<!-- Update the bolded element to show the current list -->
			<!-- Additionally apply blue to the text colour -->
			<p>Done: {{checklist.completeItems()}}      Left: {{checklist.remainingItems()}}     <b>Total: {{checklist.totalItems()}}</b></p>
		</div>
		
		<!-- The actual checklist -->
		<div ng-repeat="(categoryKey, checklist) in checklist.categories"
				on-swipe-left="cycleCurrentChecklist(true)"
				on-swipe-right='cycleCurrentChecklist(false)'>
			<div class="item item-divider item-icon-right" ng-click="toggleListCategoryView(categoryKey)">
    			<i id="{{categoryKey}}" class="ion-arrow-right-c"></i>
				{{checklist.categoryName}}
			</div>
			<div class="list" ng-show="{{categoryKey}}View">
				<a class="item {{(item.completed==true)?'balanced-bg':'stable-bg'}}"
					ng-repeat="item in viewLists[categoryKey]" 
					style="background-colour:{{(item.completed==true)?'balanced':'stable'}}"
					ng-click="completeItem('{{item.name}}', '{{categoryKey}}')">
					{{item.name}}
				</a>
			</div>
		</div>
		<!-- End list -->
		
		<!-- Teh modifiers -->
		<div class="item tabs tabs-secondary tabs-icon-left"> 
			<a class="tab-item" href="#" ng-click="showPendingTasks()">
				<i class="icon ion-android-checkbox-outline-blank
					 {{( (currentCheckListView == 'pending')? 'calm' : 'dark')}}"></i>
				Pending
			</a>
			<a class="tab-item" href="#" ng-click="showCompletedTasks()">
				<i class="icon ion-android-checkbox-outline 
					{{( (currentCheckListView == 'completed')? 'calm' : 'dark')}}"></i>
				Completed
			</a>
			<a class="tab-item" href="#" ng-click="showAllTasks()">
				<i class="icon ion-ios-list 
					{{( (currentCheckListView == 'all')? 'calm' : 'dark')}}"></i>
				All tasks
			</a>
		</div>
		</div>
	</div>
	<!-- End checklist card  -->
	
	<!-- LocationListing Card  -->  
	<div class="list card" >
		
		<div class="item item-avatar">
			<!-- Demo using data loaded by our controller -->
			<img class="" src="img/location-icon.png">
			<h2>{{flight.destination}} Essential Locations</h2>
			<!-- Update the bolded element to show the current list -->
			<!-- Additionally apply blue to the text colour -->
			<p>Currently Viewing: {{currentListingView.name}}</p>
		</div>
		<div class="item item-body">
			<div class="list" 
				on-swipe-left="cycleCurrentView(true)"
				on-swipe-right='cycleCurrentView(false)'>
				<a class="item item-avatar"
					ng-repeat="pointOfInterest in currentListingView.list" 
					style="background-colour: stable"
					ng-click="viewDetail(listingId)">
					<img class="" src="img/rating/{{pointOfInterest.rating}}.png">
					{{pointOfInterest.name}}
					{{pointOfInterest.rating}}
				</a>
			</div>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left"> 
			<a class='tab-item ' 
				href="#" 
				ng-click="changeListingView('accomodation')">
				<i class="icon ion-home {{( (currentListingView.name == 'accomodation')? 'calm' : 'dark')}}"></i>
			</a>
			<a class="tab-item {{( (currentListingView.name == 'dining')? 'calm' : 'dark' )}}" 
				href="#" 
				ng-click="changeListingView('dining')">
				<i class="icon ion-beer"></i>
			</a>
			<a class="tab-item {{( (currentListingView.name == 'transportation')? 'calm' : 'dark' )}}" 
				href="#" 
				ng-click="changeListingView('transportation')">
				<i class="icon ion-model-s"></i>
			</a>
			<a class="tab-item {{( (currentListingView.name == 'entertainment')? 'calm' : 'dark' )}}" 
				href="#" 
				ng-click="changeListingView('entertainment')">
				<i class="icon ion-cash"></i>
			</a>
		</div>
	</div>
	
  </ion-content>
</ion-view>