<ion-view view-title="My Dash">
  <ion-content>
    
	<ion-refresher
    	pulling-text="Pull to refresh the dashboard"
    	spinner="lines"
    	on-refresh="doRefresh()">
  	</ion-refresher>
	  
	  <!-- Flight Card  -->  
	<div class="list card" >
		<div class="item item-avatar">
			<!-- Demo using data loaded by our controller -->
			<img class="" src="img/plane.png">
			<h2><b>Flight: {{flight.flightCode}}</b></h2>
			<h2>Departing: {{flight.departureTime}}</h2>
		</div>

		<div class="item item-body">
			<div class="list"> 
				<div class="item item-icon-left">
					<i class="icon ion-clock positive"></i>
					Touchdown: {{flight.arrivalTime}}
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-map positive"></i>
					Trip Length: {{prettyLength(flight.flight_time)}}
				</div>
				<a class="item item-icon-left item-icon-right">
					<i class="icon ion-plane positive"></i>
					With: {{flight.airline}}
					<i class="icon ion-arrow-right-c icon-accessory"></i>
				</a>
				<a class="item item-icon-left item-icon-right">
					<i class="icon ion-ios-navigate-outline assertive"></i>
					Departs: {{flight.origin}}
					<i class="icon ion-arrow-right-c icon-accessory"></i>
				</a>
				<a class="item item-icon-left item-icon-right">
					<i class="icon ion-ios-navigate assertive"></i>
					Arrives: {{flight.destination}}
					<i class="icon ion-arrow-right-c icon-accessory"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- End Flight card -->
	  
	<!-- Weather Card  -->  
	<div class="list card" >
		<div class="item item-avatar">
			<!-- Demo using data loaded by our controller -->
			<img class="" src="img/weather/weather-large.png">
			<h2><b>{{flight.destination}} Forecast</b></h2>
			<p>{{currentWeatherView.utcForecastTime}}</p>
		</div>
		<!-- TODO: Change to use a placeholder variable
			That will allow us to update the information in place  -->
			<div class="item item-avatar"> 
				<img class="" src="{{currentWeatherView.icon}}">
				<h2>Outlook: {{currentWeatherView.mainText}}</h2>
				<p>Avg Temp: {{doTempConversion(currentWeatherView.tempurature)}}</p>
			</div>
		<div class="item item-body">
			<div class="list"> 
				<div class="item item-icon-left">
					<i class="icon ion-document-text royal"></i>
					Conditions: {{currentWeatherView.description}}
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-paper-airplane positive"></i>
					Wind Speed: {{currentWeatherView.windSpeed}} m/s
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-thermometer assertive"></i>
					Humidity: {{currentWeatherView.humidity}}%
				</div>
			</div>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left"> 
			<!-- These can be little clickable Icons which change the content in the panel
				above. That way we dont need a seperate view. The icon Would be a styled 
				version ofthe day part of the date like 27th 28th
				for each of the forecast days that we have -->
			<div  class="item tabs tabs-secondary" ng-repeat="forecast in weather.fiveDayForecast">
				<a class="tab-item" href="#" ng-click='updateWeatherView("{{forecast.utcForecastTime}}")'>
					<h2>{{forecast.displayDay}}{{prettyDay(forecast.displayDay)}}</h2> <!-- handle rd st -->
				</a>
			</div>
		</div>
	</div>
	<!-- End weather card -->
    
	<!-- Checklist Card -->
	<div class="list card" >
		<div class="item item-avatar">
			<!-- Demo using data loaded by our controller -->
			<img class="" src="img/blue_tick.jpg">
			<h2><b>My {{flight.flightCode}} Checklist</b></h2>
			<!-- Update the bolded element to show the current list -->
			<!-- Additionally apply blue to the text colour -->
			<p>Done: {{checklist.completeItems()}}      Left: {{checklist.remainingItems()}}     <b>Total: {{checklist.totalItems()}}</b></p>
		</div>
		
		<!-- The actual checklist -->
		<div ng-repeat="(categoryKey, checklist) in checklist.categories"
				on-swipe-left="cycleCurrentChecklist(true)"
				on-swipe-right='cycleCurrentChecklist(false)'>
			<div class="item item-divider item-icon-right" ng-click="toggleListCategoryView(categoryKey)">
    			<i id="{{categoryKey}}" class="ion-arrow-right-c"></i>
				{{checklist.categoryName}}
			</div>
			<div class="list" ng-show="{{categoryKey}}View">
				<a class="item {{(item.completed==true)?'balanced-bg':'stable-bg'}}"
					ng-repeat="item in viewLists[categoryKey]" 
					style="background-colour:{{(item.completed==true)?'balanced':'stable'}}"
					ng-click="completeItem('{{item.name}}', '{{categoryKey}}')">
					{{item.name}}
				</a>
			</div>
		</div>
		<!-- End list -->
		
		<!-- Teh modifiers -->
		<div class="item tabs tabs-secondary tabs-icon-left"> 
			<a class="tab-item" href="#" ng-click="showPendingTasks()">
				<i class="icon ion-android-checkbox-outline-blank
					 {{( (currentCheckListView == 'pending')? 'positive' : 'dark')}}"></i>
				Pending
			</a>
			<a class="tab-item" href="#" ng-click="showCompletedTasks()">
				<i class="icon ion-android-checkbox-outline 
					{{( (currentCheckListView == 'completed')? 'positive' : 'dark')}}"></i>
				Completed
			</a>
			<a class="tab-item" href="#" ng-click="showAllTasks()">
				<i class="icon ion-ios-list 
					{{( (currentCheckListView == 'all')? 'positive' : 'dark')}}"></i>
				All tasks
			</a>
		</div>
		</div>
	</div>
	<!-- End checklist card  -->
	
	<!-- LocationListing Card  -->  
	<div class="list card" >
		
		<div class="item item-avatar">
			<!-- Demo using data loaded by our controller -->
			<img class="" src="img/location-icon.png">
			<h2>{{flight.destination}} Essential Locations</h2>
			<!-- Update the bolded element to show the current list -->
			<!-- Additionally apply blue to the text colour -->
			<p>Currently Viewing: {{currentListingView.name}}</p>
		</div>
		<div class="item item-body">
			<div class="list" 
				on-swipe-left="cycleCurrentView(true)"
				on-swipe-right='cycleCurrentView(false)'>
				<a class="item item-avatar item-icon-right"
					ng-repeat="pointOfInterest in currentListingView.list" 
					style="background-colour: stable"
					ng-click="openModal($index)">
					<img src="img/rating/{{pointOfInterest.rating}}.png">
					{{pointOfInterest.name}}
					<i class="icon ion-arrow-right-c icon-accessory"></i>
				</a>
			</div>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left"> 
			<a class='tab-item ' 
				href="#" 
				ng-click="changeListingView('accomodation')">
				<i class="icon ion-home {{( (currentListingView.name == 'accomodation')? 'positive' : 'dark')}}"></i>
			</a>
			<a class="tab-item {{( (currentListingView.name == 'dining')? 'positive' : 'dark' )}}" 
				href="#" 
				ng-click="changeListingView('dining')">
				<i class="icon ion-beer"></i>
			</a>
			<a class="tab-item {{( (currentListingView.name == 'transportation')? 'positive' : 'dark' )}}" 
				href="#" 
				ng-click="changeListingView('transportation')">
				<i class="icon ion-model-s"></i>
			</a>
			<a class="tab-item {{( (currentListingView.name == 'entertainment')? 'positive' : 'dark' )}}" 
				href="#" 
				ng-click="changeListingView('entertainment')">
				<i class="icon ion-cash"></i>
			</a>
		</div>
	</div>
	
	<script id="modal.html" type="text/ng-template">
	<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">{{listingDetail.name}}</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </ion-header-bar>
        <ion-content has-header="true" padding="true">
          <div class="list card" >
			<div class="item item-avatar">
				<img src="img/rating/{{listingDetail.rating}}.png">
				<h2><b>{{listingDetail.name}}</b></h2>
				<h2>{{listingDetail.rating}} stars</h2>
			</div>
	
			<div class="item item-body">
			<img class="full-image" src={{listingDetail.image}}></image>
				<div class="list">
					<div class="item item-icon-left">
						<i class="icon ion-android-call balanced"></i>
						Phone: {{listingDetail.phoneNumber}}
					</div>
					<div class="item item-icon-left">
						<i class="icon ion-document-text positive"></i>
						<p>Digest: {{listingDetail.snippetText}}</p>
					</div>
					<a class="item item-icon-left item-icon-right" href="{{listingDetail.url}}">
						<i class="icon ion-iphone royal"></i>
						Go to Website
						<i class="icon ion-arrow-right-c icon-accessory"></i>
					</a>
					<a class="item item-icon-left item-icon-right">
						<i class="icon ion-android-map assertive"></i>
						Location
						<i class="icon ion-arrow-right-c icon-accessory"></i>
					</a>
				</div>
			</div>
		</div>
        </ion-content>
	  </ion-modal-view>
    </script>
	
  </ion-content>
</ion-view>